# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env
db.sqlite3
/media
/static

# Env files
.env

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Django migrations
**/migrations/*

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React build
/build
.DS_Store
*.log
build/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MySQL
*.sql

# PostgreSQL
*.pgsql

# Other
*.swp
*.swo
*~
.idea/
.vscode/
.vscode/*
!*.code-workspace
*.code-workspace

# Docker
docker-compose.override.yml
.env.db
.env.prod
.env.production
docker-sync.yml
.docker
.dockerignore


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/